{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-background">

<body>
    <br>

     <div class="container bg-white shadow-md p-5 form-layout h-50">
        <div class="text-center">
            <i class="fa-solid fa-face-dizzy" style="color: #e6240f;"></i>
        <br><br>

        <h4>The page you are looking for isn't available &nbsp;<i class="fa-solid fa-circle-exclamation" style="color: #d51a1a;"></i></h4>
        <br><br>
        <a class="btn btn-danger rounded btn-block p-2 btn-lg w-100" type="button"  href="{% url 'shop' %}"><i class="fa-solid fa-circle-arrow-left" style="color: #e01f1f;"></i>&nbsp Go Back To Shop </a>
        
    </div>
</div>

</body>
</div>


{% endblock %}