.form-layout {
    border-radius: 20px;
    width: 700px;
    
}
.register-background {
    background-color: #D65076;
    
}
.login-background {
    
    height: 700px;
    background-color:#D65076;
}
