
{% extends "./base.html" %}

{% load static %}


{% block content %}


    <!-- Introduction section -->
  
    <section class="py-4 text-center container">

        <div class="row py-lg-5">
        
            <div class="col-lg-6 col-md-8 mx-auto">
                

                <h4> Pokemon Shop Find Awesome Products! </h4>


                <br>
                

                <p class="lead text-muted">

                Look at our amazing items &nbsp; <i class="fa-solid fa-cart-arrow-down" style="color: #ee8328;"></i>

                </p>


                <br>
        
                <a href="#" class="btn btn-primary my-2"> Register an Account </a>
                
                
            </div>
        
        </div>

    
    </section>



{% endblock %}






