
{% include "shop/base.html" %}


{% load static %}


{% block content %}


<div class="login-background">
    <body>

        <br>

        <div class="container bg-white shadow-md p-5 form-layout shadow-lg">

            <form id="form">

                <div>

                    <h3 class="text-center"> <i class="fa-solid fa-truck-arrow-right" style="color: #a06b22;"></i>&nbsp; Complete your Order: </h3>

                    <p class="text-center"> Please enter in the relevant information below. </p>
 


                    <hr>

                    <br>

                    <div class="form-field">
                    
                        <input class="form-control validate" id="name" type="text" placeholder="Full name*" autocomplete="off" value="{{shipping.full_name}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="email" type="email" placeholder="Email address*" autocomplete="off" value="{{shipping.email}}" required>

                    </div>

                    
                    <br>

                    
                    <div class="form-field">

                        <input class="form-control validate" id="address1" type="text" placeholder="Address 1*" autocomplete="off" value="{{shipping.address1}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="address2" type="text" placeholder="Address 2*" autocomplete="off" value="{{shipping.address2}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control validate" id="city" type="text" placeholder="City*" autocomplete="off" value="{{shipping.city}}" required>

                    </div>


                    <br>


                    <div class="form-field">

                        <input class="form-control" id="zipcode" type="text" placeholder="Zip code (Optional)" autocomplete="off" value="{{shipping.zipcode}}">

                    </div>
            
                </div>

                <br>



               <button id="complete-order" type="submit" class="btn btn-primary navbar-btn text-white w-100"> &nbsp; Complete Order </button>
               

                <br>




            </form>


        </div>

        

        <br>


    </body>
</div>


    <!-- Ajax integration -->

    

    <script>
        // complete the purchase
    $(document).on('submit', function(e){

        e.preventDefault();

        $.ajax({

            type: 'POST',
            url: '{% url "complete-purchase" %}',
            
            data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    address1: $('#address1').val(),
                    address2: $('#address2').val(),
                    city: $('#city').val(),
                    zipcode: $('#zipcode').val(),
        

               
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'

            },

            success: function(json){

                //console.log(json)

               

             


            },

            error: function(xhr, errmsg, err){

        }

        });



    })


    


   </script>





{% endblock %}